@model IEnumerable<Blog.Models.BlogPost>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-center bg-light text-primary p-3">Diario Web</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">
           @foreach (var item in Model) {    
                var base64String = Convert.ToBase64String(item.Image);
                var imageSource = $"data:image/jpeg;base64,{base64String}";
                <img src="@imageSource" alt="Post Image" class="index-image"/>
                <h3>@item.Title <small>@item.CreatedAt.ToString("dd/MM/yyyy")</small></h3>
                <p>@item.Content</p>
           }
        </div>
        <div class="col-md-3">
            <h2>Sección 2</h2>
            <p>Contenido de la sección 2.</p>
        </div>
    </div>
</div>
