@model Blog.Models.Category

@{
    ViewData["Title"] = "Eliminar categoría";
}

<h1>@ViewData["Title"]</h1>
<h3>¿Está seguro que desea borrar esta categoría?</h3>
<hr />
<form asp-action="Delete">
    <input type="hidden" asp-for="Id" />

    <div class="signup-link">
        <input type="submit" value="Borrar" class="btn btn-danger" />
        <br>
        <a href="/Admin/">Regresar al panel</a>
    </div>
</form>