@page
@model RegisterModel
@{
    ViewData["Title"] = "Registro";
}

<div class="form-container">
    <h1>@ViewData["Title"]</h1>
    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-floating form-text">
            <input asp-for="Input.FirstName" class="form-control" aria-required="true" />
            <label asp-for="Input.FirstName">Nombre</label>
            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
        </div>
        <div class="form-floating form-text">
            <input asp-for="Input.LastName" class="form-control" aria-required="true"/>
            <label asp-for="Input.LastName">Apellidos</label>
            <span asp-validation-for="Input.LastName" class="text-danger"></span>
        </div>
        <div class="form-floating form-text">
            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
            <label asp-for="Input.Email">Correo electr&oacute;nico</label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-floating form-text">
            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.Password">Contraseña</label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-floating form-text">
            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
            <label asp-for="Input.ConfirmPassword">Repetir contraseña</label>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <input id="registerSubmit" type="submit" value="Registrarse"/>
        <div class="signup-link">
            ¿Ya tienes una cuenta?
            <a asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Inicia sesión</a>            
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
