html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.index-image{
    width: 850px;
    height: 350px;
}

.h3 {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
    padding-bottom: 1rem;
}

.small {
    color: #999;
    font-size: 1.5rem;
    margin-left: 10px;
}

.content-paragraph {
    width: 850px;
    padding-bottom: 2rem;
    padding-top:1rem;
    font-size: 1.2rem;
}

.pagination .page-item .page-link {
    
    color: #6c757d;
    border-color: #dee2e6;
    font-size: 14px;
    padding: 5px 10px;
}

.pagination .page-item.active .page-link {
    background-color: #6c757d;
    color: #fff;
    border-color: #6c757d;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

.partial-login {
    font-weight: bold;
    padding: 5px;
    text-decoration: none;
}